a				{ color: blue; text-decoration: underline; }
body			{ margin: 8px; }
strong			{ font-weight: bolder; }
pre				{ font-family: monospace }
h1				{ font-size: 2em; margin: .67em 0px; }
h2				{ font-size: 1.5em; margin: .75em 0px; }
h3				{ font-size: 1.17em; margin: .83em 0px; }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0px; }
h5              { font-size: .83em; margin: 1.5em 0px; }
h6              { font-size: .75em; margin: 1.67em 0px; }
strike, del		{ text-decoration: line-through; }
hr              { border: 1px inset; }
center          { text-align: center; }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder; }
