<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eml</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>message/rfc822</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Email Message</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.email-message</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>scribe-mac-icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Email Address URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Memecode. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail3 Database</string>
			<key>UTTypeIdentifier</key>
			<string>com.memecode.scribe.mail3</string>
			<key>UTTypeReferenceURL</key>
			<string>memecode.com/scribe.php</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>com.memecode.scribe.mail3</string>
				</array>
				<key>public.filename-extension</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Calendar Event</string>
			<key>UTTypeIdentifier</key>
			<string>com.memecode.Calendar</string>
			<key>UTTypeReferenceURL</key>
			<string>memecode.com/scribe.php</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>com.memecode.Calendar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Thing List</string>
			<key>UTTypeIdentifier</key>
			<string>com.memecode.ThingList</string>
			<key>UTTypeReferenceURL</key>
			<string>memecode.com/scribe.php</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>com.memecode.ThingList</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Thing Folder</string>
			<key>UTTypeIdentifier</key>
			<string>com.memecode.Folder</string>
			<key>UTTypeReferenceURL</key>
			<string>memecode.com/scribe.php</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>com.memecode.Folder</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Email Message</string>
			<key>UTTypeIdentifier</key>
			<string>public.email-message</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>message/rfc822</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
